<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title th:text="${title}"/>
<!--    <title th:text="${studentPassword}"/>-->
<!--    <title th:text="${studentName}"/>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h3 class="display-4 font-weight-normal"> <small> Введите пароль </small> </h3>
        <p class="lead font-weight-normal">Введите кодовое слово.</p>

<!--        <label for="lname">Last name:</label><br>-->
    <form action="#" th:action="@{/registerPassword}" th:object="${studentObj}" method="post" >

<!--        <input type="text" th:field="${studentName}">-->
        <input type="text" th:field="*{password}"><br><br>

        <a class="btn btn-outline-secondary" href="/">Назад</a>
<!--        <input class="btn btn-outline-secondary" type="submit" value="Продолжить"></input> <br><br>-->
        <button class="btn btn-outline-secondary" type="submit">Продолжить</button> <br><br>

<!--        <a class="btn btn-outline-secondary" href="/question">Продолжить</a>-->

    </form>


    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<p th:text="'Привет, ' + ${title} + '!'"/>
</body>
</html>